<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="connectionString"
        connectionString="Data Source=.\sql2008r2;Initial Catalog=SqlBulkUpsertTestDb;Integrated Security=SSPI;"
        providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>